<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == 'Welcome' %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
      <li class="{% if page.title == 'Installation' %}current{% endif %}">
        <a href="{{ site.url }}/docs/installation">Installation</a>
      </li>
      <li class="{% if page.title == 'Basic Usage' %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage">Basic Usage</a>
      </li>
    </ul>
    <h4>Creating Slides</h4>
    <ul>
      <li class="{% if page.title == 'Editors' %}current{% endif %}">
        <a href="{{ site.url }}/docs/editors">Editors</a>
      </li>
      <li class="{% if page.title == 'Actions' %}current{% endif %}">
        <a href="{{ site.url }}/docs/actions">Actions</a>
      </li>
      <li class="{% if page.title == 'Parameters' %}current{% endif %}">
        <a href="{{ site.url }}/docs/parameters">Parameters</a>
      </li>
      <li class="{% if page.title == 'Controls' %}current{% endif %}">
        <a href="{{ site.url }}/docs/controls">Controls</a>
      </li>
      <li class="{% if page.title == 'Recorder' %}current{% endif %}">
        <a href="{{ site.url }}/docs/recorder">Recorder</a>
      </li>
    </ul>
    <h4>Executing Slides</h4>
    <ul>
      <li class="{% if page.title == "GUI" %}current{% endif %}">
        <a href="{{ site.url }}/docs/gui">GUI</a>
      </li>	
      <li class="{% if page.title == "Comamnd Line" %}current{% endif %}">
        <a href="{{ site.url }}/docs/cmd">Command Line</a>
      </li>
      <li class="{% if page.title == "API" %}current{% endif %}">
        <a href="{{ site.url }}/docs/api">Java API</a>
      </li>
      <li class="{% if page.title == "JRuby" %}current{% endif %}">
        <a href="{{ site.url }}/docs/jruby">JRuby</a>
      </li>
      <li class="{% if page.title == "Generating Code" %}current{% endif %}">
        <a href="{{ site.url }}/docs/code">Generating Code</a>
      </li>
    </ul>
  </aside>
</div>
