<footer>
  <div class="grid">
    <div class="unit two-thirds center-on-mobiles">
      <p> © <a href="http://lab.sikuli.org">Sikuli Lab</a> 2013 <br>
	Department of Computer Science | University of Colorado Boulder  </p>
	
    </div>
    <div class="unit one-third align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <a href="https://github.com">
          <img src="{{ site.url }}/img/footer-logo.png" alt="GitHub • Social coding">
        </a>
      </p>
    </div>
  </div>
</footer>
