<!-- FOOTER -->
<footer class="footer">

    <div class="section">
        <div class="col span_6_of_12 auto">
            <h5>Sikuli Lab | <a href="http://www.colorado.edu">University of Colorado at Boulder</a></h5>
            <a href="https://github.com/sikuli/sikuli-slides">
            	<i class="icon-github" style="font-size:200%;"></i>            
        	</a>            
        </div>
    </div>

</footer>
<!-- /.footer -->

<!-- Preloader -->
<div id="preloader"><div id="status">&nbsp;</div></div>

<script src="/js/jquery-2.1.0.min.js"></script>
<script src="/js/jquery.plugins.js"></script>
<script src="/js/custom.js"></script>

{% include analytics.html %}