---
layout: default
---
<div class="section">
              
        <!-- BLOGBAR -->

        <aside class="blogbar col span_3_of_12">
          {% for section in site.data.docpages %}

            <h5 class="aligned left">{{ section.name }}</h5>

              <ul>
              {% for item in section.items %}

              <li class="aligned right"><a href="{{item.path}}">{{ item.title }}</a></li>

              {% endfor %}
              </ul>
          {% endfor %}
        </aside>

        <!-- BLOGCONTENT (blog) -->
        <div class="blog col span_9_of_12">
            {{ content }}                
        </div>

</div>

